[submodule "src/Microsoft.PackageManagement.NuGetProvider"]
	path = src/Microsoft.PackageManagement.NuGetProvider
	url = https://github.com/bergmeister/NuGetProvider.git
	branch = netstandard2.0

[submodule "src/Modules/PowerShellGet"]
	
	path = src/Modules/PowerShellGet
	
	url = https://github.com/PowerShell/PowerShellGet.git
