version: 1.0.{build}
image: Visual Studio 2017
environment:
  - VSS_NUGET_EXTERNAL_FEED_ENDPOINTS: {'endpointCredentials': [{'endpoint':'https://pkgs.dev.azure.com/onegettest/_packaging/onegettest/nuget/v3/index.json', 'username':'onegettest@hotmail.com', 'password':'xvj25ardbp5fk3dvvubwl52oibci73bjoylkqptm5bicr7rbk54q'}]}
  matrix:
    - test_framework: fullclr
    - test_framework: coreclr
configuration: Release
platform: Any CPU

init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

# Install Pester
install: 
  - cinst -y pester
clone_folder: c:\projects\oneget
build_script:
  - git submodule update --init
  - ps: nuget locals all -clear
  - ps: import-module c:\projects\oneget\test\TestUtility.psm1 -force
  - ps: cd .\src; .\bootstrap.ps1; .\build.ps1 -framework "net452" Release -EmbedProviderManifest; .\build.ps1 -framework "netstandard2.0" Release -EmbedProviderManifest

deploy_script: 
  - ps: |
      # Creating NuGet package artifact
      $testframeworkEnv = [System.Environment]::GetEnvironmentVariable("test_framework")
      if ($testframeworkEnv -eq "coreclr")
      {
            Import-Module PackageManagement -force
            Get-Module -Name PackageManagement
            Get-PackageProvider -Name NuGet -Force
            Register-PSRepository -Name Local -SourceLocation C:\projects\oneget\src\out -verbose 
            Publish-Module -path C:\projects\oneget\src\out\PackageManagement -Repository Local -verbose
            $nuGetPackageName=(Get-ChildItem C:\projects\oneget\src\out\PackageManagement*.nupkg).Name

            @(
                  # You can add other artifacts here
                  "C:\projects\oneget\src\out\OneGet.FullClr.zip",
                  "C:\projects\oneget\src\out\OneGet.CoreClr.zip",
                  "C:\projects\oneget\src\out\$nuGetPackageName"
            ) | % { 
                   Write-Host "Pushing package $_ as Appveyor artifact"
                  Push-AppveyorArtifact $_
            }
      }

test_script:
  - ps: |
     & "c:\projects\oneget\Test\run-tests.ps1" -nugetApiVersion all