<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Please verify that the feed below exists for your project and replace placeholder values. You may also use another feed of your choice. -->
    <add key="InternalPkgMgmtFeed" value="https://pkgs.dev.azure.com/powershell-rel/PackageManagement/_packaging/InternalPkgMgmtFeed/nuget/v3/index.json" />
  </packageSources>
</configuration>