<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- <packageRestore>
    <add key="enabled" value="True"/>
    <add key="automatic" value="True"/>
  </packageRestore> -->
  <packageSources>
    <clear/>
    <!-- Add this repository to the list of available repositories -->
    <!-- <add key="PackageManagementFeed" value="https://pkgs.dev.azure.com/powershell-rel/PackageManagement/_packaging/PackageManagement/nuget/v3/index.json"
      UserName ="cdpteam" 
      Password ="$env:CDP_DEFAULT_CLIENT_PACKAGE_PAT" /> -->
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
