<?xml version="1.0" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="OneGet" Manufacturer="Microsoft Corporation" Language="1033"
           Version="!(bind.FileVersion.Microsoft.OneGet.exe)"
           UpgradeCode="0298D025-D727-485A-8691-5ECCCA27F424">
    <Package InstallScope="perMachine" Compressed="yes" />

    <MediaTemplate CompressionLevel="low" CabinetTemplate="og{0}.cab" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="WindowsPowerShellFolder" Name="WindowsPowerShell">
          <Directory Id="ModulesFolder" Name="Modules">
            <Directory Id="OneGetFolder" Name="OneGet-Edge">
              <Directory Id="ProvidersFolder" Name="Providers" />
            </Directory>
            <Directory Id="PowerShellGetFolder" Name="PowerShellGet">
              <Directory Id="PSGetEnUsFolder" Name="en-US" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="OneGetFeature">
      <ComponentGroupRef Id="OneGetComponents" />
      <ComponentGroupRef Id="PSGetComponents" />
      <ComponentGroupRef Id="PSGetEnUsComponents" />
      <!--
      <ComponentGroupRef Id="ProviderComponents" />
      <ComponentGroupRef Id="PdbComponents" />
      -->
    </Feature>
  
    <CustomAction Id="RunPowerShellScript" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="yes" />

  
  <InstallExecuteSequence>

    <!--Invoke PowerShell script -->
    <Custom Action="RunPowerShellScript" After="InstallFiles"><![CDATA[NOT Installed]]></Custom>
  </InstallExecuteSequence>

  
  </Product>


    
  <Fragment>

    <Property Id="POWERSHELLEXE">
    <RegistrySearch Id="POWERSHELLEXE"
                    Type="raw"
                    Root="HKLM"
                    Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell"
                    Name="Path" />
    </Property>
    <Condition Message="This application requires Windows PowerShell.">
      <![CDATA[Installed OR POWERSHELLEXE]]>
    </Condition>

      <SetProperty Id="RunPowerShellScript"
           Before ="InstallFiles"
           Sequence="execute"
           Value ="&quot;[POWERSHELLEXE]&quot; -NoProfile -NonInteractive &quot;[\[]System.Environment[\]]::SetEnvironmentVariable('PSModulePath',((((($env:PSModulePath).Split(';'))+'[ModulesFolder]').Trim('\')|Where-object{$_.Length -gt 0}|select -uniq) -join ';') ,'Machine')&quot;" />
      
    <ComponentGroup Id="PSGetComponents" Directory="PowerShellGetFolder">
      <Component><File Source="Providers\Inbox\PowerShellGet\PowerShellGet.psd1" /></Component>
      <Component><File Source="Providers\Inbox\PowerShellGet\PSGet.Format.ps1xml" /></Component>
      <Component><File Source="Providers\Inbox\PowerShellGet\PSGet.psm1" /></Component>
      <Component><File Source="Providers\Inbox\PowerShellGet\PSGet.Resource.psd1" /></Component>
    </ComponentGroup >
    
    <ComponentGroup Id="PSGetEnUsComponents" Directory="PSGetEnUsFolder">
      <Component><File Source="Providers\Inbox\PowerShellGet\en-Us\PSGet.Resource.psd1" Id="enuspsgetresourcepsd1" /></Component>
    </ComponentGroup >
    
    <ComponentGroup Id="OneGetComponents" Directory="OneGetFolder">
      <Component>
        <File Source="readme.md" />
      </Component>

      <Component>
        <File Source="release-notes.md" />
      </Component>

      <Component>
        <File Id="Microsoft.OneGet.exe" Source="Microsoft.OneGet.exe" />
        <Environment Id="UpdatePsModulePath" Action="set" Name="PSModulePath" Value="[ModulesFolder]" Part="last" System="yes" /> 
      </Component>


      <Component><File Source="Microsoft.OneGet.MetaProvider.PowerShell.dll" /></Component>
      <Component><File Source="Microsoft.OneGet.ArchiverProviders.dll" /></Component>
      <Component><File Source="Microsoft.OneGet.MsiProvider.dll" /></Component>
      <Component><File Source="Microsoft.OneGet.MsuProvider.dll" /></Component>
      <Component><File Source="Microsoft.OneGet.NuGetProvider.dll" /></Component>
      <Component><File Source="Microsoft.OneGet.CoreProviders.dll" /></Component>
      

      <Component><File Source="Microsoft.OneGet.Utility.dll" /></Component>
      <Component><File Source="Microsoft.OneGet.Utility.PowerShell.dll" /></Component>
      <Component><File Source="Microsoft.PowerShell.OneGet.dll" /></Component>
      <Component><File Source="OneGet.format.ps1xml" /></Component>
      <Component><File Source="OneGet-Edge.psd1" /></Component>
      <Component><File Source="PackageProviderFunctions.psm1" /></Component>
      <Component><File Source="nuget.exe" /></Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="PdbComponents" Directory="OneGetFolder">
      <Component>
        <File Source="Microsoft.OneGet.pdb" />
      </Component>

      <Component>
        <File Source="Microsoft.OneGet.MetaProvider.PowerShell.pdb" />
      </Component>

      <Component>
        <File Source="Microsoft.OneGet.Utility.pdb" />
      </Component>

      <Component>
        <File Source="Microsoft.OneGet.Utility.PowerShell.pdb" />
      </Component>

      <Component>
        <File Source="Microsoft.PowerShell.OneGet.pdb" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>