<?xml version="1.0" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="OneGet" Manufacturer="Outercurve Foundation" Language="1033"
           Version="!(bind.FileVersion.Microsoft.PackageManagement.dll)"
           UpgradeCode="0298D025-D727-485A-8691-5ECCCA27F424">
    <Package InstallScope="perMachine" Compressed="yes" />

    <MediaTemplate CompressionLevel="low" CabinetTemplate="og{0}.cab" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="OutercurveFoundationFolder" Name="Outercurve Foundation">
          <Directory Id="ProdFolder" Name="OneGet">
            <Directory Id="OneGetFolder" Name="!(bind.FileVersion.Microsoft.PackageManagement.dll)">
              <Directory Id="PowerShellGetFolder" Name="PowerShellGet">
                <Directory Id="PSGetEnUsFolder" Name="en-US" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="PackageManagementFeature">
      <ComponentGroupRef Id="PackageManagementComponents" />
      <ComponentGroupRef Id="PSGetComponents" />
      <ComponentGroupRef Id="PSGetEnUsComponents" />
    </Feature>
  
    <CustomAction Id="RunScript" BinaryKey="WixCA" DllEntry="CAQuietExec64" Execute="deferred" Return="ignore" Impersonate="no" />
  
  <InstallExecuteSequence>

    <!--Invoke script -->
    <Custom Action="RunScript" After="InstallFiles"><![CDATA[NOT Installed]]></Custom>
  </InstallExecuteSequence>
  </Product>
    
  <Fragment>
    <Property Id="POWERSHELLEXE">
    <RegistrySearch Id="POWERSHELLEXE"
                    Type="raw"
                    Root="HKLM"
                    Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell"
                    Name="Path" />
    </Property>
    <Condition Message="This application requires Windows PowerShell.">
      <![CDATA[Installed OR POWERSHELLEXE]]>
    </Condition>

      <SetProperty Id="RunScript"
           Before="InstallFiles"
           Sequence="execute"
           Value="&quot;[System64Folder]cmd.exe&quot; /c &quot;[OneGetFolder]\install-oneget.cmd&quot;" />
      
    <ComponentGroup Id="PSGetComponents" Directory="PowerShellGetFolder">
      <Component><File Source="Providers\Inbox\PowerShellGet\PowerShellGet.psd1" /></Component>
      <Component><File Source="Providers\Inbox\PowerShellGet\PSGet.Format.ps1xml" /></Component>
      <Component><File Source="Providers\Inbox\PowerShellGet\PSGet.psm1" /></Component>
      <Component><File Source="Providers\Inbox\PowerShellGet\PSGet.Resource.psd1" /></Component>
    </ComponentGroup >
    
    <ComponentGroup Id="PSGetEnUsComponents" Directory="PSGetEnUsFolder">
      <Component><File Source="Providers\Inbox\PowerShellGet\en-Us\PSGet.Resource.psd1" Id="enuspsgetresourcepsd1" /></Component>
    </ComponentGroup >
    
    <ComponentGroup Id="PackageManagementComponents" Directory="OneGetFolder">
      <Component><File Source="readme.md" /></Component>
      <Component><File Id="Microsoft.PackageManagement.dll" Source="Microsoft.PackageManagement.dll" /></Component>
      <Component><File Source="Microsoft.PackageManagement.MetaProvider.PowerShell.dll" /></Component>
      <Component><File Source="Microsoft.PackageManagement.ArchiverProviders.dll" /></Component>
      <Component><File Source="Microsoft.PackageManagement.MsiProvider.dll" /></Component>
      <Component><File Source="Microsoft.PackageManagement.MsuProvider.dll" /></Component>
      <Component><File Source="Microsoft.PackageManagement.CoreProviders.dll" /></Component>
      <Component><File Source="Microsoft.PowerShell.PackageManagement.dll" /></Component>

      <Component><File Source="Microsoft.PackageManagement.NuGetProvider.dll" /></Component> 
      <Component><File Source="nuget.exe" /></Component> 

      <Component><File Source="Microsoft.PackageManagement.pdb" /></Component>
      <Component><File Source="Microsoft.PackageManagement.MetaProvider.PowerShell.pdb" /></Component>
      <Component><File Source="Microsoft.PackageManagement.ArchiverProviders.pdb" /></Component>
      <Component><File Source="Microsoft.PackageManagement.MsiProvider.pdb" /></Component>
      <Component><File Source="Microsoft.PackageManagement.MsuProvider.pdb" /></Component>
      <Component><File Source="Microsoft.PackageManagement.NuGetProvider.pdb" /></Component>
      <Component><File Source="Microsoft.PackageManagement.CoreProviders.pdb" /></Component>
      <Component><File Source="Microsoft.PowerShell.PackageManagement.pdb" /></Component>
      
      <Component><File Source="PackageManagement.format.ps1xml" /></Component>
      <Component><File Source="PackageProviderFunctions.psm1" /></Component>
      
      <Component><File Source="PackageManagement.psd1" /></Component>
      <Component><File Source="OneGet-Edge.psd1" /></Component>
      <Component><File Source="OneGet.psd1" /></Component>
      <Component><File Source="install-oneGet.cmd" /></Component>
    </ComponentGroup>
    
  </Fragment>

  
</Wix>