<?xml version="1.0" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="OneGet v!(bind.packageVersion.OneGet.msi)" Manufacturer="OneGet Project"
          Version="!(bind.packageVersion.OneGet.msi)" UpgradeCode="0FCE07AA-AC5F-4CB4-AEE5-C2CC74E060AE"
          Compressed="yes">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
          LicenseUrl="https://raw.githubusercontent.com/OneGet/oneget/master/LICENSE"
          LogoFile="logo.png"
          SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <Chain>
      <MsiPackage SourceFile="OneGet.msi" />
    </Chain>
  </Bundle>
</Wix>